.container_entrada {
  display: flex;
}
.container_input {
  margin-right: 10px;
}
.container_input input {
  background-color: lightgray;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.botaoDefault {
  border-radius: 5px;
  width: 150px;
  height: 36px;
  background-color: #6a00de;
  color: white;
  font-size: 16px;
}
